<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jose_Gonzalez_Ap1_p2</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="R_productos">
                <span class="oi oi-plus" aria-hidden="true"></span> Registro Producto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="C_Productos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta Producto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="C_ProductosDetalles">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta Detalle
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="R_ProductosEmpacado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Empacados
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
